In [23]:
import pandas as pd

In [24]:
df =pd.read_csv("Placement.csv")

In [25]:
df.drop('sl_no',inplace=True, axis=1)

In [26]:
df.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [27]:
df.shape[1]

14

In [28]:
df.isnull().sum()

gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [29]:
def QuanQual(df):
    quan=[]
    qual=[]
    for columnName in df.columns:
        
    #print col
        #print(columnName)
        if(df[columnName].dtype=='O'):
        #print qual
            #print("qual")
            qual.append(columnName)
        else:
        #print quan
            #print("quan")
            quan.append(columnName)
    return quan, qual

In [30]:
quan, qual =QuanQual(df)
print("Quantitive_variables:",quan)
print("Quantitive_variables:",qual)

Quantitive_variables: ['ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']
Quantitive_variables: ['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

In [46]:
# SimpleImputer libaray replacing null values with mean
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
df[quan] = imp.fit_transform(df[quan])

In [47]:
df.head(2)

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0

In [48]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [51]:
def calc_vif(X):
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return vif

In [53]:
# Calculate VIF for quantitative variables
vif_result = calc_vif(df[quan])
vif_result

  variables         VIF
0     ssc_p   67.026700
1     hsc_p   56.131492
2  degree_p  112.755275
3   etest_p   33.696391
4     mba_p  108.585463
5    salary   15.167704

In [55]:
# Calculate VIF for quantitative variables
vif_result = calc_vif(df[["ssc_p","mba_p","salary"]])
vif_result

  variables        VIF
0     ssc_p  44.930707
1     mba_p  58.307697
2    salary  14.669425

In [57]:
# Calculate VIF for quantitative variables
vif_result = calc_vif(df[["ssc_p","salary"]])
vif_result

  variables        VIF
0     ssc_p  11.303554
1    salary  11.303554

In [58]:
# Calculate VIF for quantitative variables
vif_result = calc_vif(df[["ssc_p","degree_p","salary"]])
vif_result

  variables        VIF
0     ssc_p  54.928056
1  degree_p  61.565266
2    salary  12.802639